In [1]:
import geopandas as gpd

### Read in the bus route JSON

In [2]:
df = gpd.read_file('./trimet-routes-bus-freq.json')

### Take a peek at the data frame

In [3]:
df.head()

,rte,dir,rte_desc,public_rte,dir_desc,frequent,type,geometry
0,2,0,Division,2,To Gresham Transit Center,True,BUS,"MULTILINESTRING ((-122.67858 45.51692, -122.67..."
1,2,1,Division,2,To Portland City Center,True,BUS,"MULTILINESTRING ((-122.67943 45.51764, -122.67..."
2,4,0,Fessenden,4,To St Johns,True,BUS,"MULTILINESTRING ((-122.75745 45.59301, -122.75..."
3,4,1,Fessenden,4,To Portland City Center,True,BUS,"LINESTRING (-122.75180 45.58786, -122.75182 45..."
4,6,0,Martin Luther King Jr Blvd,6,To Jantzen Beach,True,BUS,"MULTILINESTRING ((-122.69067 45.51696, -122.69..."

### Take a look at Route 57 which we know we have two multiline strings for

In [4]:
df.loc[df['public_rte'] == '57']

,rte,dir,rte_desc,public_rte,dir_desc,frequent,type,geometry
22,57,0,TV Hwy/Forest Grove,57,To Forest Grove,True,BUS,"MULTILINESTRING ((-122.98785 45.52011, -122.98..."
23,57,1,TV Hwy/Forest Grove,57,To Beaverton Transit Center,True,BUS,"MULTILINESTRING ((-123.11539 45.51856, -123.11..."

### Create a data frame using the route number and geometry that we can dissolve the routes with

In [5]:
bus = df[['public_rte', 'geometry']]

In [6]:
bus.head()

  public_rte                                           geometry
0          2  MULTILINESTRING ((-122.67858 45.51692, -122.67...
1          2  MULTILINESTRING ((-122.67943 45.51764, -122.67...
2          4  MULTILINESTRING ((-122.75745 45.59301, -122.75...
3          4  LINESTRING (-122.75180 45.58786, -122.75182 45...
4          6  MULTILINESTRING ((-122.69067 45.51696, -122.69...

### Dissolve the data frame so our multidirectional routes with same number will animtate better in Leaflet map

In [7]:
bus_routes = bus.dissolve(by='public_rte').reset_index()

In [8]:
bus_routes

   public_rte                                           geometry
0          12  MULTILINESTRING ((-122.76825 45.43248, -122.76...
1          14  MULTILINESTRING ((-122.56347 45.47820, -122.56...
2          15  MULTILINESTRING ((-122.56281 45.51402, -122.56...
3           2  MULTILINESTRING ((-122.42647 45.50264, -122.42...
4         291  LINESTRING (-122.67530 45.52776, -122.67556 45...
5          33  MULTILINESTRING ((-122.58041 45.32412, -122.57...
6           4  MULTILINESTRING ((-122.67957 45.51475, -122.67...
7          54  MULTILINESTRING ((-122.67756 45.50620, -122.67...
8          56  MULTILINESTRING ((-122.74843 45.48617, -122.74...
9          57  MULTILINESTRING ((-122.95262 45.50328, -122.95...
10          6  MULTILINESTRING ((-122.66078 45.51341, -122.66...
11         72  MULTILINESTRING ((-122.56817 45.43560, -122.56...
12         73  MULTILINESTRING ((-122.56878 45.47913, -122.57...
13         75  MULTILINESTRING ((-122.64041 45.44511, -122.64...
14          8  MULTILINESTRING ((-122.68322 45.49704, -122.68...
15          9  MULTILINESTRING ((-122.47693 45.49074, -122.47...
16         92  LINESTRING (-122.68796 45.51624, -122.68775 45...

### Write dissolved data frame to GeoJson

In [9]:
bus_routes.to_file('bus-routes-dissolved.json', driver='GeoJSON')